<div>
  <h2>Sobre o Projeto Xandaum</h2>
  <p>
    O <strong>Projeto Xandaum</strong> é uma interface intuitiva e acessível desenvolvida para facilitar a consulta e a interação com os dados disponíveis na plataforma da <strong>Câmara dos Deputados do Brasil</strong>.<br>
    Essa ferramenta utiliza a API de Dados Abertos da Câmara (<a href="https://dadosabertos.camara.leg.br/api/v2/" target="_blank">https://dadosabertos.camara.leg.br/api/v2/</a>) para permitir que interessados acompanhem a atividade parlamentar de maneira simples e eficiente.
  </p>
</p>
<h2>Objetivos do Projeto</h2>
<ul>
  <li><strong>Facilitar o acesso à informação:</strong> Simplificar o processo de consulta a dados públicos, como informações sobre deputados, votações e eventos.</li>
  <li><strong>Promover a transparência:</strong> Contribuir para a transparência das atividades legislativas, tornando os dados mais compreensíveis e acessíveis a todos.</li>
  <li><strong>Empoderar cidadãos:</strong> Oferecer uma ferramenta que estimule a participação cidadã na política brasileira.</li>
</ul>
<h2>Funcionalidade Principal</h2>
<ul>
  <li><strong>Busca Detalhada:</strong> Permite localizar dados específicos de maneira rápida e eficiente utilizando de uma interface.</li>
</ul>
<h2>Tecnologias Utilizadas</h2>
<ul>
  <li><strong>Ruby on Rails:</strong> Framework principal para desenvolvimento da aplicação.</li>
  <li><strong>API de Dados Abertos da Câmara:</strong> Fonte de informações legislativas e parlamentares.</li>
</ul>
<h2>Como Usar o Projeto Xandaum</h2>
<ol>
  <li><strong>Acesse a plataforma:</strong> Navegue pelas seções da interface.</li>
  <li><strong>Pesquise informações:</strong> Utilize os campos de busca para encontrar deputados, eventos, votações e partidos.</li>
  <li><strong>Explore os dados:</strong> Visualize informações detalhadas sobre a atividade parlamentar.</li>
</ol>
</p>
</div>