<div>
  <% @deputies_list.map do |deputy| %>
    <p><%= link_to deputy["nome"], root_path({ deputy_name: deputy["nome"], deputy_id: deputy["id"] }) %> - <%= deputy["siglaPartido"] %></p>
  <% end %>
</div>
