<div>
  <nav>
  </nav>
  <ul>
    <li><%= link_to 'Lista de deputados', home_index_path %></li>
    <li><%= link_to 'Eventos', home_detailed_events_list_path %></li>
    <li><%= link_to 'Partidos', home_parties_list_path %></li>
    <li><%= link_to 'Votações', home_votes_path %></li>
  </ul>
</div>
