<div>
  <nav>
  </nav>
  <ul>
    <li>
      <h3><%= link_to 'Deputados', home_index_path %></h3>
      <p>- Selecione o deputado desejado clicando em seu nome<br>
        - Selecione o assunto através do menu<br>
        - Clique em buscar</p>
    </li>
    <li>
      <h3><%= link_to 'Eventos', home_detailed_events_list_path %></h3>
      <p>- Selecione o evento desejado clicando em seu ID ou intervalo entre as datas através dos calendários<br>
        - Selecione a opção desejada através do menu<br>
        - Clique em buscar
      </p>
    </li>
    <li>
      <h3><%= link_to 'Partidos', home_parties_list_path %></h3>
      <p>- Selecione o partido desejado clicando em sua sigla</p>
    </li>
    <li>
      <h3><%= link_to 'Votações', home_votes_path %></h3>
      <p>- Selecione a votação desejada clicando em seu ID ou intervalo entre as datas através dos calendários<br>
        - Selecione a opção desejada através do menu<br>
        - Clique em buscar
      </p>
    </li>
  </ul>
</div>
